<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
</head>
<body>
    <h1>Sejá bem vindo <span th:text="${accountobj.getUsername()}"></span></h1>

    <div>
        <div class="row">
            <p>ID: <span th:text="${accountobj.getId()}"></span></p>
            <p>Nome: <span th:text="${accountobj.getUsername()}"></span></p>
            <p>Login: <span th:text="${accountobj.getLogin()}"></span></p>
            <a href="/register">cadastro</a>
        </div>
    </div>

    <h5>Telefones</h5>

    <div class="row">
        <form th:action="@{/addPhone/{idAccountPhone}(idAccountPhone=${accountobj.getId()})}"  method="post" class="col s12">
            <div class="row">

                <div th:each="m : ${message}">
                    <span th:text="${m}"></span>
                </div>

                <div class="input-field col s6">
                    <label for="phoneNumber" class="active">Numero:</label>
                    <input id="phoneNumber" name="phoneNumber" class="validate"/>
                </div>

                <div class="input-field col s6">
                    <label for="phoneType" class="active">Tipo:</label>
                    <input id="phoneType" name="phoneType" class="validate"/>
                </div>

                <div class="input-field col s6">
                    <button type="submit" name="action" class="btn waves-effect waves-light">salvar
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </div>
        </form>
    </div>

    <table class="striped">
        <tr th:each="p : ${phones}">
            <td th:text="${p.getPhoneNumber()}"></td>
            <td th:text="${p.getPhoneType()}"></td>
            <td>
                <a th:href="@{/editPhone/{idPhone}(idPhone=${p.getId()})}" class="btn-floating btn-small waves-effect waves-light blue">
                    <i class="material-icons left">edit</i>
                </a>
            </td>
            <td>
                <a th:href="@{phoneDelete/{idPhone}(idPhone=${p.getId()})}" class="btn-floating btn-small waves-effect waves-light red">
                    <i class="material-icons right">remove_circle</i>
                </a>
            </td>
        </tr>
    </table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>